// variables for colors
$color-main:#4ec83d;
$color-main-hover:#58e046;
$color-secondary:#fd4f10;
$color-secondary-hover:#f76029;
$color-red:#b71f24;
$color-title:#32505a;
$color-grey:#969393;
$color-lightgrey: #e4e4e4;
$color-darkgrey: #4d4d4d;
$color-lightblue: #5e81a7;
$bg-color:#fcfcfc;
$bg-footer:#1a2d34;
$footer-item-color:#6b96a5;
$footer-border-color:#20353d;

